# Python Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/

# Secrets & Environment variables
.env
sample.env

# Playwright & Diagnostics dumps
/screenshots/
page_source.html
.pytest_cache/
.playwright/

# OS metadata
.DS_Store
Thumbs.db
